body {
	display:block;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background: aliceblue;
	min-height: 10vh;
}

.product {
  margin: 1rem ;
  background-color: #2875da;
  border: 0.2px solid white;
  color: aliceblue;
  padding: 1rem;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  }
  
  .product h3 {
    margin: 0 0 0.5rem 0;
    font-size: 1.75rem;
  }
  
  .product header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .quantity span {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .price {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .productprice {
    font-weight: normal;
    font-size: 1rem;
    font-style: italic;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem 0;
  }
  
  .actions button {
    background-color: transparent;
    border: 1px solid white;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-left: 0.5rem;
    padding: 0.15rem 1rem;
    color: white;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #1e21ac;
    color: white;
  }